@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your custom styles here if needed */

body {
    @apply bg-gray-900 text-white; /* Set a dark gray background and white text */
}

/* Custom button styles */
.custom-button {
    @apply bg-gradient-to-r from-yellow-400 to-yellow-600 text-[#111] font-semibold py-2 px-4 h-12 rounded-md shadow-lg hover:from-yellow-500 hover:to-yellow-700 transition-colors duration-300 flex items-center justify-center w-full whitespace-nowrap; /* Added whitespace-nowrap */
}

/* Optional: Ensure buttons fit their container in a flex layout */
.button-container {
    @apply flex flex-row space-x-4 w-full max-w-xs; /* Adjust max width as needed */
}

html {
    scroll-behavior: smooth;
  }
  
  .card {
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    width: 90%; /* Adjust width as needed */
    max-width: 800px; /* Set a max-width to prevent it from getting too wide */
    height: auto;
    padding: 5px;
    border-radius: 1rem;
    overflow: hidden; /* Prevent content from overflowing the card */
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
  }
  
  .card-info {
    --color: #181818;
    background: var(--color);
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 100%;
    height: auto;
    overflow: hidden; /* Prevent overflow inside card-info */
    border-radius: 0.7rem;
    padding: 16px;
    word-wrap: break-word; /* Ensure text wraps within the card */
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .gray-box {
    background-color: #222; /* Gray background */
    border-radius: 0.7rem; /* Rounded corners */
    color: white; /* Text color */
  }
  